.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.product_info{
    height: 100px;
    margin-bottom: 10px;
}
.product_price{
    margin-top: 5px;
}
.product_rating{
    height: 10px;
    width: 20px;
    /* display: flex;
    margin-bottom: 25px; */
}
.icon{
    color: orange;
}

